.headerWrapper {
  min-height: 9.6rem;
  background-color: var(--olive-green-color);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.headerIcon,
.customDropDown .headerIcon,
.customDropDown .headerIcon:focus {
  padding: 10px;
  background-color: var(--parrot-color);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
.customDropDown .headerIcon::after {
  content: none;
}
.headerIcon:hover,
.customDropDown .headerIcon:hover {
  color: var(--black-color);
  background-color: var(--white-color);
}
.userName {
  color: var(--white-color);
  font-size: var(--font-20);
  font-weight: var(--fw-600);
  line-height: var(--size-24);
}
.userInfo span {
  color: var(--parrot-color);
  font-size: var(--font-14);
  font-weight: var(--fw-600);
  line-height: var(--size-24);
}

.customDropDown .customDropDownMenu {
  background-color: #41464b;
  min-width: 250px;
  top: 5px !important;
  font-size: 14px;
  overflow: hidden;
}
.customDropDown .customDropDownMenu a {
  color: var(--white-color);
  transition: all 0.5s;
}
.customDropDown .customDropDownMenu a:focus,
.customDropDown .customDropDownMenu a:hover {
  background-color: var(--black-color);
}
.drawerRight {
  height: 100vh;
  width: 100%;
  max-width: 400px;
  background-color: var(--black-color);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  max-height: calc(100vh - var(--chat-footer-height));
  backdrop-filter: blur(5px);
  overflow: auto;
  transition: all 0.5s ease 0s;
  transform: translateX(120%);
}
.drawerRight.drawerActive {
  transform: translateX(0%);
}

.drawerRight .drawerRightHeader,
.drawerMedia .drawerMediaHeader {
  height: 9.6rem;
  background-color: rgb(24, 21, 21, 0.8);
  font-size: var(--font-16);
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
}

.drawerBody .drawerUserImage {
  max-height: 150px;
  max-width: 150px;
  height: 150px;
  width: 150px;
}
.drawerBody .innerDrawerItem {
  background-color: #111b21;
}

.drawerBody .innerDrawerItem p {
  font-size: var(--font-14);
}
.drawerBody .innerDrawerItem h2,
.drawerBody .innerDrawerItem p {
  letter-spacing: 1px;
}

.aboutInfo span {
  color: #8696a0;
}

.drawerMedia {
  height: 100vh;
  width: 100%;
  max-width: 400px;
  background-color: var(--black-color);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  max-height: calc(100vh - var(--chat-footer-height));
  backdrop-filter: blur(5px);
  overflow: auto;
  transition: all 0.5s ease 0s;
  transform: translateX(120%);
}

.drawerMedia.drawerMediaActive {
  transform: translateX(0%);
}
.mediaGroup {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.mediaGroup .mediaItem {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.mediaGroup .mediaItem img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  opacity: 1;
}
.mediaGroup .mediaItem input {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.mediaGroup .mediaItem input:checked,
.mediaGroup .mediaItem:hover input {
  visibility: visible;
  opacity: 1;
}

.mediaGroup .mediaItem input:checked + img,
.mediaGroup .mediaItem:hover img {
  opacity: 0.7;
}

.customTabs {
  border: 0;
  background-color: rgb(24, 21, 21, 0.8);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.customTabs :global .nav-link {
  color: var(--white-color);
  padding: 10px;
}
.customTabs :global .nav-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  color: var(--white-color);
}

.customTabs :global .nav-link.active {
  color: var(--parrot-color);
  background-color: rgb(24, 21, 21, 0.8);
  border-bottom: 3px solid var(--parrot-color);
}
.customTabs :global .tab-content {
  overflow-y: auto;
  flex: 1;
}
