.headerWrapper {
  min-height: 9.6rem;
  background-color: var(--olive-green-color);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}
.headerIcon {
  padding: 10px;
  background-color: var(--parrot-color);
  border-radius: 50%;
  cursor: pointer;
}
.userName {
  color: var(--white-color);
  font-size: var(--font-20);
  font-weight: var(--fw-600);
  line-height: var(--size-24);
}
.userInfo span {
  color: var(--parrot-color);
  font-size: var(--font-14);
  font-weight: var(--fw-600);
  line-height: var(--size-24);
}
